@model IEnumerable<LightShopOnline.Areas.admin.Models.Product>

@{
    ViewData["Title"] = "Index";
    ViewBag.Title = "Products";
    ViewBag.CurrentTitle = "List Products";
}

@section _Headers {
    <!-- DataTables -->
    <link rel="stylesheet" href="~/adminlte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/adminlte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/adminlte/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">

}
<p>
    <a class="btn btn-primary" href="@Html.UrlAreaAction(new string[] { "admin", "products","create"})">Create new Product</a>
</p>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">@ViewBag.CurrentTitle</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Product_Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Price)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Warrant)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Size)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Color)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Brand)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Picture1)
                            </th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Product_Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Warrant)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Size)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Color)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Brand)
                                </td>
                                <td>
                                    <img src="/asset/img/@item.Picture1" width="100" height="100"/>
                                </td>
                                <td>
                                    <a href="@Html.UrlAreaAction(new string[] { "admin", "products","edit", item.Product_Id.ToString()})" class=" w-100 d-inline-block btn btn-block bg-gradient-info"><i class="fas fa-edit"></i>Edit</a>
                                    <a href="@Html.UrlAreaAction(new string[] { "admin", "products","delete", item.Product_Id.ToString()})" class=" w-100 d-inline-block btn btn-block bg-gradient-danger"><i class="fas fa-trash"></i>Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Product_Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Price)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Warrant)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Size)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Color)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Brand)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Picture1)
                            </th>
                            <th>Actions</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

@section _Footer {
    <!-- DataTables  & Plugins -->
    <script src="~/adminlte/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/adminlte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/adminlte/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/adminlte/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/adminlte/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/adminlte/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/adminlte/plugins/jszip/jszip.min.js"></script>
    <script src="~/adminlte/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/adminlte/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/adminlte/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/adminlte/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/adminlte/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true,
                "lengthChange": false,
                "autoWidth": false,
                "columns": [
                    null,
                    { "width": "5%" },
                    { "width": "5%" },
                    { "width": "5%" },
                    { "width": "10%" },
                    { "width": "5%" },
                    { "width": "10%" },
                    null
                ]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        });
    </script>
}